# IDE
.idea
.vscode

# Project files
*.env*
!*.env.example
!docker/.env.example
src/_ide_helper.php
src/.phpstorm.meta.php
src/app/Console/Commands/TestCommand.php
docker/postgres
frontend/node_modules
