:root {
    /**
        источник цветовой палитры
        --imperial-red: #f03a47ff;
        --mint-cream: #f7fff7ff;
        --asparagus: #63a46cff;
        --onyx: #353b3cff;
        --rich-black: #0e0f19ff;
     */

    /* Светлая палитра */
    --color-background: #f7fff7; /* Фоновый цвет */
    --color-primary: #63a46c;    /* Основной цвет */
    --color-secondary: #63a46caa;/* Вторичный цвет */
    --color-text: #0e0f19;       /* Цвет текста */
    --color-text-light: #121212; /* Светлый текст */
    --color-border: #353b3c;     /* Цвет границ */
    --color-shadow: rgba(0, 0, 0, 0.1); /* Цвет тени */
    --color-error: #f03a47;      /* Цвет ошибки */
    --color-warning: #FF9800;    /* Цвет предупреждения */
    --color-info: #2196F3;       /* Цвет информации */

    @media (prefers-color-scheme: dark) {
        /* Темная палитра */
        --color-background: #0e0f19; /* Фоновый цвет */
        --color-primary: #63a46c;    /* Основной цвет */
        --color-secondary: #63a46caa;  /* Вторичный цвет */
        --color-text: #f7fff7;       /* Цвет текста */
        --color-text-light: #f7fff7aa; /* Светлый текст */
        --color-border: #353b3c;     /* Цвет границ */
        --color-shadow: rgba(0, 0, 0, 0.5); /* Цвет тени */
        --color-error: #f03a47;      /* Цвет ошибки */
        --color-warning: #FFA000;    /* Цвет предупреждения */
        --color-info: #2196F3;       /* Цвет информации */
    }

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-text);
    background-color: var(--color-background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.link {
    font-weight: 500;
    color: var(--color-primary);
    text-decoration: inherit;
}

.link:hover {
    color: var(--color-secondary);
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.btn {
    border-radius: 8px;
    border: none;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-primary);
    cursor: pointer;
    transition: border-color 0.25s;
    color: var(--color-text-light);
}

.btn--small {
    padding: 0.5em 0.5em;
}

.btn--flex {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.btn--icon {
    line-height: 0;
}

.btn--no-background {
    padding: 0;
    background-color: unset;
}

.btn:hover:not(.btn--no-background) {
    background-color: var(--color-secondary);
}
.btn:focus,
.btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.card {
    padding: 2em;
}

input, select {
    display: block;
    width: 100%;
    padding: .6rem 1rem;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--color-border);
    background: var(--color-background);
    color: var(--color-text);
}

svg {
    font-size: 1.5em;
}
